name: Code Quality Checks
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Code Quality Checks
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: 3.9.13
    - run: pip install --upgrade pip
    - run: pip install "black<23" pylint==v3.0.0a3 mypy==v0.991
    - run: black --diff --check $(git ls-files '*.py')
    - run: pylint --disable=all --enable=unused-import $(git ls-files '*.py')
    - run: mypy --allow-untyped-decorators --ignore-missing-imports --no-warn-return-any --allow-subclassing-any --strict $(git ls-files '*.py')
